{% extends 'layout.html' %}
{% block content %}


<!-- Page Header -->
<header class="masthead" style="background-image: url('/img/{{ post.image }}')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>{{ post.title }}</h1>
          {# Display when post was either created or last updated #}
          {% if  post.created_at.to_formatted_date_string() ==  post.updated_at.to_formatted_date_string() %}
              <p class="post-meta">Posted by
                  <a href="/blog/author/{{ user.user_name }}">{{ user.name }}</a> on 
                {{ post.created_at.to_formatted_date_string() }}</p>
          {% else %}
            <p class="post-meta">Updated by
                 <a href="/blog/author/{{ user.user_name }}">{{ user.name }}</a> on 
                {{ post.updated_at.to_formatted_date_string() }}</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Post Content -->
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
          
          <!-- Displays post -->
          {{ post.body|safe }}
        
          <!-- Displays Posts Categories if there are any -->
          {% if post.category %}
            {% set categories = post.category.split(',') %}
            {% for cat in categories %}
              <div class="alert alert-dark" role="alert" style="display: inline-block;">
                <a href="/blog/category/{{ cat }}">{{ cat }}</a>
              </div>
            {% endfor %}
          {% endif %}

      </div>
      {# Author Profile #}
        <div class="col-lg-3 col-md-2 mx-auto">
          {% include "profile.html" %}
      </div>
    </div>
  </div>





</article>


{% endblock %}