{% extends 'layout.html' %}
{% block content %}

<!-- Page Header -->
<header class="masthead" style="background-image: url('/img/{{ post.image }}')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>{{ post.title }}</h1>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Post Content -->
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
          
          <!-- Displays post -->
          {{ post.body|safe }}
        
          <!-- Displays Posts Categories if there are any -->
          {% if post.category %}
            {% set categories = post.category.split(',') %}
            {% for cat in categories %}
              <div class="alert alert-dark" role="alert" style="display: inline-block;">
                {{ cat }}
              </div>
            {% endfor %}
          {% endif %}

      </div>
    </div>
  </div>
</article>


{% endblock %}