{% extends "layout.html" %}
{% block content %}


<!-- Page Header -->
<header class="masthead" style="background-image: url('img/nightlife1.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Demo Blog</h1>
        </div>
      </div>
    </div>
  </div>
</header>

<div id="intro">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <p>Here is a demo blog application. Please experiment and try it out. If you find any bugs or want new features, please either make a pull request on <a href="https://github.com/hammacktony/masonite-demo-blog">Github</a> or <a href="mailto:hammack.tony@gmail.com">email me</a>. Have fun.</p>
        <p>Credentials:</p>
        <ul>
          <li>Email: demo@email.com</li>
          <li>Username: demo</li>
          <li>Password: demo</li>
        </ul>
      </div>
    </div>
    <!--/.row -->
  </div>
  <!--/.container -->
</div>
<!--/ #intro -->
{% endblock %}