{% extends "layout.html" %}
{% block content %}


<!-- Page Header -->
<header class="masthead" style="background-image: url('img/nightlife1.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Demo Blog</h1>
        </div>
      </div>
    </div>
  </div>
</header>

<div id="intro">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <p>Here is a demo blog application</p>
      </div>
    </div>
    <!--/.row -->
  </div>
  <!--/.container -->
</div>
<!--/ #intro -->
{% endblock %}