{% extends "layout.html" %}
{% block content %}


<!-- Page Header -->
<header class="masthead" style="background-image: url('img/nightlife1.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Tony Hammack</h1>
          <span class="subheading">Curious Tinkerer | hammack.tony@gmail.com</span>
        </div>
      </div>
    </div>
  </div>
</header>

<div id="intro">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <p>I am an INTJ that enjoys drinking coffee, watching movies, and being active. As an avid reader and podcast
          listener, I love to embrace the challenge of learning new things that are outside my realm of knowledge. I
          believe that human life has nearly unlimited potential, and the only key to unlock it is through knowledge
          and grit. My goal is to use my resources and talents to affect change in this world, and help everyone reach
          their potential.
        </p>

        <p>I like to dabble and tinker with multiple technologies with the goal of solving intriguing problems and
          puzzles. Stay tuned for more projects, and if you have any more questions, feel free to contact me.</p>
      </div>
    </div>
    <!--/.row -->
  </div>
  <!--/.container -->
</div>
<!--/ #intro -->
{% endblock %}