{% extends 'dashboard/base.html' %}
{% block content %}

<div class="col-xs-9">

<form action='/dashboard/profile/{{ Auth.user().user_name }}' method="POST" enctype="multipart/form-data">
    {{ csrf_field|safe }}
	
	{# Name #}
	<div class="form-row">
		<div class="form-group col-md-12">
			<label><h1>Name</h1></label>
		</div>
	</div>
	<div class="form-row">
	    <div class="form-group col-md-6">
	      <label>Username</label>
	      <input id="username" type="text" name="username" class="form-control" placeholder="{{ Auth.user().user_name }}"  readonly>
	      <small id="emailHelp" class="form-text text-muted">Cannot be changed</small>
	    </div>

	    <div class="form-group col-md-6">
	      <label>Name</label>
	      <input id="name" type="text" name="name" placeholder="{{ Auth.user().name }}"></input>
	    </div>
	</div>
	
	{# Contact Info #}
	<div class="form-row">
		<div class="form-group  col-md-12">
			<label><h1>Contact Info</h1></label>
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-md-12">
	      <label>Email</label>
	      <input id="email" type="text" name="email" placeholder="{{ Auth.user().email }}" required></input>
	      <small id="emailHelp" class="form-text text-muted">Required</small>
	    </div>
	</div>
    <div class="form-row">
	    <div class="form-group col-md-12">
	      <label>Website</label>
	      <input id="website" type="text" name="website" placeholder="{{ Auth.user().website }}"></input>
	    </div>
	</div>
    <div class="form-row">
	    <div class="form-group col-md-12">
	      <label>Twitter</label>
	      <input id="twitter" type="text" name="twitter" placeholder="{{ Auth.user().twitter }}">{{ Auth.user().twitter }}</input>
	    </div>
	</div>
    <div class="form-row">
	    <div class="form-group col-md-12">
	      <label>Facebook</label>
	      <input id="facebook" type="text" name="facebook" placeholder="{{ Auth.user().facebook }}"></input>
	    </div>
	</div>
    <div class="form-row">
	    <div class="form-group col-md-12">
	      <label>Github</label>
	      <input id="github" type="text" name="github" placeholder="{{ Auth.user().github }}"></input>
	    </div>
	</div>
    <div class="form-row">
	    <div class="form-group col-md-12">
	      <label>Gitlab</label>
	      <input id="gitlab" type="text" name="gitlab" placeholder="{{ Auth.user().gitlab }}"></input>
	    </div>
	</div>

	{# Biographical Info #}
	<div class="form-row">
	    <div class="form-group  col-md-12">
	      <label>Bio Info</label>
	    </div>
	    <div class="form-group  col-md-12">
		    {# Check if User has entered something in his bio #}
		    {% if not Auth.user().bio == None %}
		      <textarea name="body" class="form-control" rows="15" placeholder="{{ Auth.user().bio }}"></textarea>
		    {% else %}
		    	<textarea name="body" class="form-control" rows="15" placeholder="About me"></textarea>
		   	{% endif %}
		      <small id="bodyHelp" class="form-text text-muted">Share a little biographical information to fill out your profile. This may be shown publicly.</small>
	    </div>
	</div>

    {# Account Management #}
    <div class="form-row">
	    <div class="form-group  col-md-12">
			<label><h1>Account Management</h1></label>
		</div>
	    <div class="form-group col-md-12">
	      <label>Change Password</label>
	      <input name="password" type="password" placeholder="Enter New Password"></input>
	    </div>
    </div>
	
	<div class="form-row">
	    <div class="form-group  col-md-12">
		    <button type="submit" class="btn btn-primary">Update Profile</button>
		</div>
	</div>
  </form>        
</form>



</div>




{% endblock %}